<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"  type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.125.5)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME=purchaseDB)));User ID=purchase;Password=purchase"/>
    <add name="DBConnectionTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.124.6)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME=purchaseDB)));User ID=purchase;Password=purchase"/>
  </connectionStrings>
  <appSettings>
    <add key="log4net" value="log4net.config"/>
    <add key="MC_OutOfStore" value="14:10"/>
    <add key="MC_PickupGoods" value="14:10"/>
    <add key="runtime" value="12:30"/>
  </appSettings>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/" />
      <param name="DatePattern" value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>